%li[document]{:class => doc_alias && :document_alias, |
    :data => {'contactable-id' => document.address_id, 'shown-by-lightbulbs-count' => 0, :loaded => (document.too_big? || 'true')}}               |
  .document_line_first{:id => "document_head_#{document.id}"}
    .document_line_icon{:title => document.type}
      %div{:class => "type_icon type_#{document.type.underscore}"}= document.type
      %div{:class => "type_icon type_#{document.is_foreign ? 'in' : 'out'}"}= document.is_foreign ? 'eingehend' : 'ausgehend'
    - if defined?(customer) && customer
      .document_line_customer
        = link_to customer.name, customer
    .document_line_title= document.message_abbr
    .document_line_date{:title => document.date.strftime('%H:%M')}= document.date.strftime '%d.%m.%y'
    .document_line_actions
      -# = link_to 'Anzeigen', document, :class => 'show icon_link', :title => 'Anzeigen'
      = link_to 'Bearbeiten', {:controller => 'talks', :action => 'edit', :id => document}, |
        :class => 'edit icon_link', :title => 'Bearbeiten'                                  |
      -#
      = rs_link_to 'Löschen',                                                                 |
        { :controller => 'documents', :action => 'destroy_ajax_document', :id => document },  |
        'data-loading-element' => "document_#{document.id}",                                  |
        :update => { :failure => "messages" },                                                |
        :confirm => "Wirklich #{document.kind.titlecase} Nr. #{document.id} löschen?",        |
        :class => 'delete icon_link', :title => 'Löschen'                                     |
      = render "document_aliases/actions", :document => document, :doc_alias => doc_alias if doc_alias
  .document_line_second{:id => "document_body_#{document.id}"}
    .document_line_body{:style => "display:none;"}
      = render 'documents/document_line_common', :document => document, :doc_alias => doc_alias
      .document_preview.talk_body{:id => "document_message_#{document.id}", |
              :class => (document.markdown? && ['crevasse_reset','md_preview'])}
        %div{:class => (document.markdown? && ['crevasse_previewer','marked','github_theme']) }
          :preserve
             #{"\n"}#{document.message_formatted unless document.too_big?}
