%h1 Listing users
%table
  %tr
    %th Username
    %th Passwort
    %th Vorname
    %th Name
  - for user in @users
    %tr
      %td= h user.username
      %td= h '*' * user.password.length
      %td= h user.gname
      %td= h user.name
      %td= link_to 'Show', user
      %td= link_to 'Edit', edit_user_path(user)
      %td= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete
%br/
= link_to 'New user', new_user_path
