%p.doc_info
  erstellt: #{document.user.gname} #{document.user.name}  #{german_date_time document.created_at}
  %br
  bearbeitet:  #{document.modifier.gname} #{document.modifier.name}  #{german_date_time document.updated_at}

