#ref_fields
  .inline
    = f.label :your_message
    %br
    = f.text_field :your_message
  .inline
    = f.label :your_sign
    %br
    = f.text_field :your_sign
  .inline
    = f.label :our_sign
    %br
    = f.text_field :our_sign
  %div
    = f.label :our_contact
    = f.text_area :our_contact
