%tr{:id => "rblock_line_#{rblock_line.id}"}
  / partial app/views/rblock_lines/_show_rblock_line.html.erb
  %td.rblock_main_column= rblock_line.text
  %td{:id => "rblock_line_#{rblock_line.id}_price", :style => "text-align:right;"}
    = number_to_currency(rblock_line.price)
  %td.action_column
    .rblock_line_actions_wrapper
      .rblock_line_actions
        = rs_link_to 'Abschlag', { :controller => 'rblock_lines', :action => 'abschlag',        |
          :id => rblock_line }, :title => 'Abschlag', :class => 'icon_link abschlag',           |
          'data-loading-element' => "rblock_line_#{rblock_line.id}" |
        -#
        = rs_link_to 'Bearbeiten',                                                                    |
          { :controller => 'rblock_lines', :action => 'edit_ajax_rblock_line', :id => rblock_line },  |
          'data-loading-element' => "rblock_line_#{rblock_line.id}", :disable_with => 'lade...',      |
          :title => 'Bearbeiten', :class => 'icon_link edit'              |
        -#
        = rs_link_to 'Löschen',            |
          { :controller => 'rblock_lines', :action => 'destroy_ajax_rblock_line', :id => rblock_line }, |
          'data-loading-element' => "rblock_line_#{rblock_line.id}",   |
          :confirm => 'Wirklich?', :title => 'Löschen', :class => 'icon_link delete'   |
        = render :partial => "rblock_lines/insert_links", :locals => { :rblock_line => rblock_line }
